<div class="footer">
    <div class="footer_top1">
        <div class="center_div">
            @RP.Text("Footer.Logos")
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer_top2">
        <div class="center_div">
            <div class="footer_clm1">
                <h6>@RP.T("Views.Shared._Footer.Title1")</h6>
                @RP.Text("Footer.Text1")
            </div>
            <div class="footer_clm1">
                <h6>@RP.T("Views.Shared._Footer.Title2")</h6>
                @RP.Text("Footer.Text2")
            </div>
            <div class="footer_clm1">
                <h6>@RP.T("Views.Shared._Footer.Title3")</h6>
                @RP.Text("Footer.Text3")
            </div>
            <div class="footer_clm1">
                <h6>@RP.T("Views.Shared._Footer.Title4")</h6>
                @RP.Text("Footer.Text4")
            </div>
            <div class="footer_clm1">
                <h6>@RP.T("Views.Shared._Footer.Title5")</h6>
                @RP.Text("Footer.Text5")
            </div>
            <div class="footer_clm1">
                <h6>@RP.T("Views.Shared._Footer.Title6")</h6>
                @RP.Text("Footer.Text6")
            </div>
            <div class="clear"></div>
        </div>
    </div>
    