@model Uco.Models.MessageTemplate
@{
    ViewBag.Title = RP.T("Admin.Views.MessageTemplate.Index.Title");
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNoTree.cshtml";
}
<h2>@RP.T("Admin.Views.MessageTemplate.Index.Title")</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <p class="clear">
        <input type="submit" class="k-button" value="@RP.T("Admin.Views.Command.Create")" />
 @Html.ActionLink(RP.T("Admin.Views.Command.BackToList").ToString(), "Index")
    </p>
}