@model string
@using Uco.Infrastructure
@{
    ViewBag.Title = @Html.R("Title");
}
<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>@ViewBag.Title</title>
    <style type="text/css">
        body{background:#cdcdcd;direction:rtl;text-align:center;font:14px;color:#333;font-family:Arial,Sans-Serif}#login-container{-moz-border-radius:1px;-webkit-border-radius:1px;border:solid 1px #f8f8e8;margin:100px auto;width:350px;background-color:#fff;padding-top:10px}#login-container .inner{margin:0 auto;padding:0 30px 30px}h1{margin-bottom:20px}.editor-field{margin-bottom:10px}.editor-field input{width:240px;direction:ltr;text-align:left;-moz-border-radius: 2px;webkit-border-radius: 2px;border-radius: 2px; border:solid 1px #bebebe;padding: 3px 0;}.ie67{display:none}.field-validation-error{ display:block; color:Red;} .loginb{ font-weight: bold;padding: 2px 20px; cursor:pointer;}
    </style>
    <!--[if IE 6]>
        <style type="text/css">
            .ie67 { display:block; }
        </style>
    <![endif]-->
</head>
<div id="login-container">
    <img src="@Url.Content("~/Content/DesignFiles/System/login_logo.png")" alt="Uco" />
	<div class="inner">
        <div class="ie67">
            <p style='font-weight:bold; font-size:14px; padding:0 10px; text-align:center; margin-bottom:20px; color:red;'>
                @Html.R("Upgrade")
                <br/>
                <a href='http://www.microsoft.com/windows/internet-explorer/default.aspx'>@Html.R("Clickhere") .</a>
            </p>
        </div>
        <div>
            @Html.R("SentToYouEmail")
            <br/><br/>
            <div><a href ="@Url.Content("~/")">@Html.R("BackToSite")</a></div>
        </div>
    </div>
</div>

</body>
</html>