@model string
@{
    ViewBag.Title = Html.R("Title");
    Layout = "~/Themes/Supertlv/Views/Account/_Layout.cshtml";
}
@Html.ValidationSummary(true, @Html.R("LogOnError"))

@using (Html.BeginForm())
{
    <div>
        <div class="editor-label">
            Email:
        </div>
        <div class="editor-field">
            @Html.TextBox("Model")
        </div>

        @Html.Partial("_Captcha", new Uco.Models.Captcha())
        @Html.Partial("_InvisibleCaptcha", new Uco.Models.InvisibleCaptcha())

        <p>
            <input type="submit" class="loginb k-button" value="@Html.R("Send")" />
        </p>

        <div><a href="@Url.Action("LogOn")">@Html.R("BackToLogin")</a></div>
        <div><a href="@Url.Content("~/")">@Html.R("BackToSite")</a></div>
    </div>
}