@model Uco.Models.ChangePasswordModel

@{
    ViewBag.Title = RP.T("Views.Account.ChangePassword.ViewBagTitle");
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}

<h2>@Html.R("ChangePassword")</h2>
<p>
    @Html.R("length1") @Membership.MinRequiredPasswordLength @Html.R("length2")
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, @Html.R("Errors"))
    <div>
        <fieldset>
            <legend>@Html.R("AccountInformation")</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input type="submit" value="@Html.R("ChangePasswordSend")" class="k-button" />
            </p>
        </fieldset>
    </div>
}
