@model Uco.Models.ChangePasswordModel
@{
    ViewBag.Title = RP.T("Views.Profile.Password.ViewBagTitle");
    Layout = "~/Themes/SlkOrigin/Views/Shared/_LayoutShop.cshtml";
    ViewBag.Url = "~/Profile/Orders/";
}
@*rewrite shopping cart footer*@
@*@section FooterZone{

    }*@
@section topmenu{
    @Html.Action("_TopStatus", "Profile")
}
<div class="midd_section">
    <div class="center_div">
        <div class="container one">
            <div class="profile_left_container">
                <div class="right_sec">

                    <h1 class="main_heading_h1_profile main_heading_h1_profile_br">@RP.T("Views.Profile.Menu.Password")</h1>
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form3", style = "width:400px;" }))
                    {
                        <p>
                            @RP.T("Views.Profile.Password.MinimumPasswordLength") @Membership.MinRequiredPasswordLength
                        </p>
                        if (TempData["SuccessMessage"] != null)
                        {
                            <div class="success">
                                <p> @TempData["SuccessMessage"] </p>
                            </div>
                        }



                        @Html.ValidationSummary(true, @RP.T("Views.Profile.Password.Errors").ToString())

                        <div class="row">
                            @Html.LabelFor(m => m.OldPassword)
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "text-box single-line valid" })
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </div>

                        <div class="row">
                            @Html.LabelFor(m => m.NewPassword)
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "text-box single-line valid" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>

                        <div class="row">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text-box single-line valid" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>

                        <p>
                            <input type="submit" value="@RP.T("Views.Profile.Password.ChangePasswordSend")" class="k-button" />
                        </p>


                    }





                </div>
            </div>


            @* Menu *@
            @Html.Partial("_Menu")
        </div>
        <div class="clear"></div>
    </div>
</div>
