@model IEnumerable<Uco.Models.Overview.ProductOverviewModel>
@using Uco.Models
@{
    int countOfProducts = Model.Count();
    int count = 0;
    int pictureSize = LS.Get<Settings>().FirstOrDefault().ProductBoxImageSize;
    int pictureNoImageSize = LS.Get<Settings>().FirstOrDefault().ProductBoxNoImageSize;
    
    var categoryList = LS.Get<Category>();
    if (pictureSize == 0)
    {
        pictureSize = 174;
    }
    if (pictureNoImageSize == 0)
    {
        pictureNoImageSize = 120;
    }
    ViewBag.pictureSize = pictureSize;
    ViewBag.pictureNoImageSize = pictureNoImageSize;
    int lastCatId = 0;
    if (ViewBag.UseLayout != null && ViewBag.UseLayout)
    {
        var category = (Category)ViewBag.Category;
        var shop = (Shop)ViewBag.Shop;
        Layout = "~/Views/Shared/_LayoutShop.cshtml";
        ViewBag.Title = category.Name + " | " + shop.Name;
        ViewBag.Url = Request.RawUrl.Replace("&_escaped_fragment_=", "#!").Replace("?_escaped_fragment_=", "#!");
        ViewBag.ShopID = shop.ID;
        ViewBag.Keywords = category.SeoKeywords;
        ViewBag.Description = category.SeoDescription;
        if (!string.IsNullOrEmpty(shop.Logo))
        {
            ViewBag.Logo = shop.Logo;
        }
        if (!string.IsNullOrEmpty(shop.FavIcon))
        {
            ViewBag.FavIcon = shop.FavIcon;
        }
    }
}
@if (ViewBag.Category != null && ViewBag.UseLayout == null)
{
    var category = (Category)ViewBag.Category;
    var shop = (Shop)ViewBag.Shop;
    <script>
    
        SearchProductData.categoryID = @category.ID;
        document.title = '@Html.Raw(category.Name.Replace("'","\\'")) | @Html.Raw(shop.Name.Replace("'", "\\'"))';
        $('[rel="canonical"]').attr('href',location.href);
    </script>
}
<input id="peritemdim" type="hidden" value="@RP.T("View.Shop.ProductItem.PriceForItem")" />
@foreach (var m in Model)
{
    @*if(count % 5 == 0)
        {
         @:

        }*@

    if (lastCatId != m.CategoryID)
    {
        var cat = categoryList.FirstOrDefault(x => x.ID == m.CategoryID);
        if (cat != null)
        {
            <li data-cid="@cat.ID" class="categorygroup-title">@cat.Name
    </li>
    }
    lastCatId = m.CategoryID;
    }<li class="sh_protidctItemWrap products_tab lastProductNum" data-last-item-num="@ViewBag.LastProductNum">@Html.Partial("_ProductGalleryItem", m)</li>count++;
            @*if (count == countOfProducts || count % 5 == 0)
                {

                @:<div class="clear"></div>
                @:

                }*@

}
<script>
    $('.parentcssTooltip, .prdct_tag').poshytip({
        className: 'tip-green',
        offsetX: -7,
        offsetY: 16,
        alignX: 'inner-left',
        allowTipHover: true
    });
    var lastcid = 0;
    $('.categorygroup-title').each(function(i,e){
        var cid=$(e).attr('data-cid');
        if(lastcid!=cid)
        {
            lastcid = cid;
        }else{
            $(e).hide().remove();
        }
    });
   // $(".fancybox").fancybox({
        //beforeClose:function(){
    
        //var cache = getCache();
        //if (cache.backState != null)
        //    cache.backState.productShopID = cache.productShopID;

        //setCache(cache.backState);

        //var backUrl = cache.backHash || "#";
        //if (backUrl) {
        //    window.dontTrigerHash = true;
        //    location.hash = backUrl;
        //}

        //}
    //});      
</script>
@{
    var last = -1;
    var cur = 0;
    var categoryName = new string[5];
}

@if (ViewBag.Specifications != null && (ViewBag.RefreshFilters != null && (bool)ViewBag.RefreshFilters))
{
    <div id="indexFiltersSource" class="all_search_part" style="display: none;">
        <ul>
            @foreach (var item in ((List<Uco.Models.Overview.SpecificationOptionModel>)ViewBag.Specifications).OrderBy(x => x.Attribute))
            {
                if (last != item.SpecificationAttributeID)
                {
                    if (cur < 5)
                    {
                        categoryName[cur] = item.Attribute;
                        cur++;

                        if (last > 0)
                        {
                            @:</select></div></li>
                    }
                        var id = "ms";
                        id = "ms" + cur.ToString();
                        @:<li><div><select id="@id" multiple="multiple">
                                    last = item.SpecificationAttributeID;
                                    }
                                    }
                                    <option value="@item.ID">@item.Name</option>
                                    }
                                    @if (last > 0)
            {
                                        @:</select></div></li>
            }

                                    </ul>
                                    <div class="clear"></div>
            </div>

                                    <script type="text/javascript">

                                        $("#indexProductFilters").empty();
                                        @{int i = 0;}
                                        @foreach(var m in categoryName)
    { i++;

        <text>
                                        $("#ms" +@i).unbind().change(function () {

                                            lazyLoadStop = false;
                                            getCheckedFilterValue();
                                            $.ajax({
                                                type: "POST",
                                                dataType: "html",
                                                traditional: true,
                                                url: "/Shop/_GetProductByCategoryAndFilters",
                                                data: { shopID: SearchProductData.shopID, categoryID: SearchProductData.categoryID, filters: SearchProductData.filters, viewIn: SearchProductData.viewIn, refreshFilters : false },
                                                cache: false,
                                            }).done(function (html) {
                                                $("#productResultWrapper").html(html);
                                            });
                                        }).multipleSelect({
                                            width: '100%',
                                            selectAllText: 'בחר הכל',
                                            allSelected: 'כל נבחר',
                                            placeholder: '@m'

                                        });
                                        </text>

    }

                                        $("#indexProductFilters").append($("#indexFiltersSource"));
                                        $("#indexFiltersSource").show();
                                    </script>
                                    <div class="clear"></div>
}