@model Uco.Models.Overview.ShoppingCartOverviewModel


 <div class="shpng_cart2_tab" id="sh_id_shopcart">
      @* Do NOT Delete this !!!*@
    <div style="display:none;">
     <span class="dn" style="display:none;" id="sh_carttotalmain">@Model.SubTotalStr</span>
        </div>
    @* Do NOT Delete this !!!*@
    <script>
        
        setTimeout(function () {
            $('.sh_cartsubtotal, .sh_carttotal').html('@Model.SubTotalStr');
            $('.sh_cartcount').html('@Model.Count');
        }, 100);
          
       
       </script>
@if (Model.Items.Count() > 0)
{
     
    
   
        @*<span class="dn" style="display:none;" id="sh_carttotalmain">@Model.TotalStr</span>*@
        @*<div class="shoping_cart2_tab_head">*@
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th align="center" valign="middle" class="tab_width1">&nbsp;</th>
                <th align="right" valign="middle" class="tab_width2">@RP.T("Views.ShoppingCart.Index.ProductName")</th>
                @*<td align="right" valign="middle" class="tab_width3">@RP.T("Views.ShoppingCart.Index.Manufacturer")</td>*@
                @*<td align="center" valign="middle" class="tab_width4">@RP.T("Views.ShoppingCart.Index.PriceForEach")</td>*@
                <th align="center" valign="middle" class="tab_width5">@RP.T("Views.ShoppingCart.Index.NumberOfUnits")</th>
                @*<td align="center" valign="middle" class="tab_width6">@RP.T("Views.ShoppingCart.Index.ProductOption")</td>*@
                <th align="center" valign="middle" class="tab_width7">@RP.T("Views.ShoppingCart.Index.Price")</th>
                @*<td align="right" valign="middle" class="tab_width8">@RP.T("Views.ShoppingCart.Index.RowHeadNote")</td>*@
                <th align="center" valign="middle" class="tab_width9">@RP.T("Views.ShoppingCart.Index.RowHeadDelete")</th>
            </tr>
            @*</table>*@
            @*</div>*@
            @for (var i = 0; i < Model.Items.Count(); i++)
            {
                @*string addclass="";
                if( i % 2 == 1)
                {addclass="bg_change";}*@
                var item = Model.Items[i];
                bool shoDecimals = false;
                if(!string.IsNullOrEmpty(item.MeasureUnit) && item.QuantityPriceType == Uco.Models.QuantityType.Default)
                {
                    shoDecimals = true;
                }
                @*<div >
                <table width="100%" border="0" cellspacing="0" cellpadding="0">*@
    <tr class="shoping_cart2_tab_listing sh_cartitem" data-productshopid="@item.ProductShopID" data-productid="@item.ID">
        <td align="center" valign="middle" class="tab_width1"><img src="@SF.GetImage(item.Image, 16, 27, true, true)" alt=""></td>
        <td align="right" valign="middle" class="tab_width2">@item.Name</td>
        @*<td align="right" valign="middle" class="tab_width3 shsku">@item.SKU</td>*@
        @*<td align="center" valign="middle" class="tab_width4 shPrice">@item.PriceStr</td>*@
        <td align="center" valign="middle" class="tab_width5">
            <table width="64" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="middle" class="shoping_cart_minus">
                        <a href="#" onclick="Shop.CartDecrease(this,event,@item.ID,1);"></a>
                    </td>
                    <td align="center" valign="middle" class="shpng_qty_show"><input type="text" class="single-line" value="@(shoDecimals ? item.Quantity.ToString("0.00") : item.Quantity.ToString("0"))" id="textfield" name="Quantity"></td>
                    <td align="center" valign="middle" class="shoping_cart_plus">
                        <a href="#" onclick="Shop.CartIncreas(this,event,@item.ID, 1);"></a>
                    </td>
                </tr>
            </table>
        </td>
        @*<td align="center" valign="middle" class="tab_width6">
                @if (item.Attributes.Count > 0)
                {
                    <select name="ProductAttributeOptionID" class="drop_down" onchange="Shop.CartChangeAttribute(this,event,@item.ID);">
                        @foreach (var atr in item.Attributes)
                        {
                            string selected = "";
                            if (atr.ID == item.ProductAttributeOptionID) { selected = "selected=\"selected\""; }
                            <option value="@atr.ID" @selected>@atr.Name</option>
                        }
                    </select>}
            </td>*@
        <td align="center" valign="middle" class="tab_width7"><span class="price shUnitPrice">@item.UnitPriceStr</span></td>
        @*<td align="right" valign="middle" class="tab_width8 shAttributeDescription">@item.AttributeDescription</td>*@
        <td align="center" valign="middle" class="tab_width9"><a href="#" onclick="Shop.CartDelete(this,event,@item.ID);"><img src="/Content/DesignFiles/remove_icon1.png" alt=""></a></td>
    </tr>

                @*</div>*@

            }
        </table>



    
}
else
{
    @RP.T("ShoppingCart._CartTable.NoItems")
}
</div>